@charset "utf-8";

/*-----------------------------

　リセットCSS + サイト共通設定

------------------------------*/

/* 全ての要素に対する余白初期値設定 */
body,
h1,h2,h3,h4,h5,h6,
p,ul,ol,dl,dt,dd,li,
table,th,td,
form,select,option,input
address,pre,strong,em,iframe,img{
	margin:0;
	padding:0;
	font-size:100%;
	border:0;
}

/* デフォルト文字設定 */
body{
	color:#666666;
	font-family:sans-serif;
	font-size:13px;
	*font-size:small;
	line-height:1.4;
}

/* リストマーカーを非表示 */
ul,ol{
	list-style-type:none;
}

/* テーブルセルのボーダーの設定 */ 
table {
	border-collapse: collapse; 
	border-spacing: 0;
}

/* 画像とフォームパーツの上下位置をテキストの真ん中に */
img, input, select, textarea { 
	vertical-align: middle;
}

/*テキストスタイルの設定*/
address{
	font-style:normal;
}

/* デフォルトリンク色の設定 */
a{
	color:#878787;
}

a:hover{
	color:#e75439;
}

/* 画像リンクの設定
a img{
	opacity:1;
	filter: alpha(opacity=100);
}

a:hover img{
	opacity:0.7;
	filter: alpha(opacity=75);
}
 */

/*	clearfix
------------------------------*/
.clearfix:after {/*for modern browser*/
   content: "";
   display: block;
   clear: both;
}

* html .clearfix { zoom:1; } /*for IE6*/
*:first-child+html .clearfix { zoom:1; } /*for IE7*/


/*--------------------------

　レイアウト

---------------------------*/
body{
	/*上から1本目のライン*/
	/*border-top:#bd3117 5px solid;*/
	/*background: #878787;*/
	background:url(../img/haikei2.png) #e6e6e6;
	/*background: -moz-linear-gradient(left top,
		#878787,
		#878787 25%,
		#fafafa 25%,
		#fafafa 50%,
		#878787 50%,
		#878787 75%,
		#fafafa 75%,
		#fafafa);
	background: -webkit-gradient(linear, left top, right top,
		from(#878787),
			color-stop(25%, #878787),
			color-stop(25%, #fafafa),
			color-stop(50%, #fafafa),
			color-stop(50%, #878787),
			color-stop(75%, #878787),
			color-stop(75%, #fafafa),
			to(#fafafa));
		-moz-background-size: 4px 1px, 4px 1px;
		-webkit-background-size: 4px 1px, 4px 1px;
	background-size: 4px 1px, 4px 1px;*/
}

/* ヘッダー
---------------------------*/
#header{
	width:940px;
	margin:0 auto;
	padding:10px 0;
/*上から二本目のライン*/
	border-top:#bd3117 5px solid;
	/*サイドのライン縦
	border-left:#666666 2px solid;
	border-right:#666666 2px solid;*/
		-webkit-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		-moz-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
	/*模様*/
	background:url(../img/bg_header.png) #e6e6e6;
}

#header .inner{
	width:900px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

#info{
	float:right;
	width:20em;
	padding:10px;
	background:#fff;
	border:#ccc 1px solid;
}

#info dt{
	clear:left;
	float:left;
	width:6em;
}

#logo{
	position:absolute;
	left:50px;
	top:50%;
	margin-top:-26px;
}

#catch{
	position:absolute;
	left:250px;
	top:50%;
	margin-top:-1em;
	font-size:83%;
}


/* グローバルナビゲーション
---------------------------*/
#gnav{
	width:940px;
	margin:0 auto;
	/*サイドのライン縦*/
	/*border-left:#666666 2px solid;
	border-right:#666666 2px solid;*/
		-webkit-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		-moz-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
	background:#878787;
}

#gnav ul{
	width:940px;
	margin:0 auto;
	overflow:hidden;
}

#gnav li{
	float:left;
}

#gnav a{
	display:block;
	width:157px;
	height:40px;
	background:url(../img/gnav.png) no-repeat;
	text-indent:-9999px;
	color:#fff;
}

#gnav .gnav01 a,
#gnav .gnav06 a{
	width:156px;
}

#gnav .gnav01 a { background-position:0 0; }
#gnav .gnav02 a { background-position:-156px 0; }
#gnav .gnav03 a { background-position:-313px 0; }
#gnav .gnav04 a { background-position:-470px 0; }
#gnav .gnav05 a { background-position:-627px 0; }
#gnav .gnav06 a { background-position:-784px 0; }

#gnav .gnav01 a:hover { background-position:0 -40px; }
#gnav .gnav02 a:hover { background-position:-156px -40px; }
#gnav .gnav03 a:hover { background-position:-313px -40px; }
#gnav .gnav04 a:hover { background-position:-470px -40px; }
#gnav .gnav05 a:hover { background-position:-627px -40px; }
#gnav .gnav06 a:hover { background-position:-784px -40px; }

.home #gnav .gnav01 a {background-position:0 -80px; }
.mypage #gnav .gnav02 a {background-position:-156px -80px; }
.coding #gnav .gnav03 a {background-position:-313px -80px; }
.lesson #gnav .gnav04 a {background-position:-470px -80px; }
.faq #gnav .gnav05 a {background-position:-627px -80px; }
.inquiry #gnav .gnav06 a {background-position:-784px -80px; }


/* コンテンツエリア
---------------------------*/
#contents{
	width:900px;
	padding:10px 20px 0 20px;
	margin:0 auto;
	background:#F2F2F2;
	/*サイドのライン縦
	border-left:#666666 2px solid;
	border-right:#666666 2px solid;*/
		-webkit-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		-moz-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
}

/* パンくず
---------------------------*/
#pankuzu{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:#ccc 1px dotted;
}

#pankuzu li{
	display:inline;
	font-size:83%;
}

#pankuzu a{
	padding-right:15px;
	background:url(../img/ico_arw01.gif) right center no-repeat;
}

/* メインコンテンツ
---------------------------*/
#main{
	width:680px;
	margin-bottom:40px;
	float:right;
} 

/* サイドバー
---------------------------*/
#side{
	width:180px;
	margin-bottom:40px;
	float:left;
}

#menu{
	border-top:#e6e6e6 1px solid;
	margin-bottom:15px;
}

#menu a{
	display:block;
	padding:10px;
	color:#666;
	text-decoration:none;
	border-bottom:#00c4ab 2px solid;
	background:url(../img/bg_menu.gif) left top repeat-x  #f2f2f2;
}

#menu a:hover{
	border-bottom:#cce739 2px solid;
	background:url(../img/bg_menu_on.gif) left bottom repeat-x #fff;
	font-weight:bold;
}

#menu .selected a{
	border-bottom:#cce739 2px solid;
	background:url(../img/bg_menu_on.gif) repeat-x;
	font-weight:bold;
}

#profile p{
	margin-bottom:10px;
	text-align:center;
}

#messages {
  margin:0 auto;
  margin-bottom: 20px;
  width:680px;
  text-align:center;
}
#messages th{
  margin-bottom: 20px;
  text-align:right;
  color: #F00;
  border-bottom:#111 1px dotted;
}
#messages tr{
	clear:both;
  margin-bottom: 20px;
  text-align:right;
    margin-right: auto;
  margin-left: auto;
  width:680px;
  color: #F00;
   border-style:solid;
}

}
.message {
  padding: 10px 0;
  border-bottom: dashed 1px #999;
  font-size: 13px;
}
.info {
  color: #F00;
}
.message_info {
  text-align: right;
  color: #999;
}

/* フッター
---------------------------*/
/* ページトップ */
/*このページのトップへの部分*/
.pagetop{
	clear:both;
	text-align:right;
}

.pagetop a{
	padding:10px;
	background:#e6e6e6;
	font-size:83%;
	color:#666;
	text-decoration:none;
}

.pagetop a:hover{
	text-decoration:underline;
}

#footer{
	width:940px;
	margin:0 auto;
	padding:10px 0;
	/*サイドのライン縦
	border-left:#666666 2px solid;
	border-right:#666666 2px solid;*/
		-webkit-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		-moz-box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
		box-shadow: 2px 0px 6px 2px #60432c,-2px 0px 6px 2px #60432c;
	background:#e6e6e6;
}

#footer .inner{
	width:900px;
	margin:0 auto;
	overflow:hidden;
}

#footer ul{
	float:left;
}

#copyright{
	float:right;
	font-size:83%;
}

#footer li{
	display:inline;
}

#footer a{
	padding:0 10px;
	background:url(../img/ico_arw01.gif) left center no-repeat;
	color:#666;
	text-decoration:none;
}

#footer a:hover{
	text-decoration:underline;
}



/*--------------------------

　共有スタイル

---------------------------*/
/*ページ大見出し*/
#main h2{
	margin-bottom:30px;
}

/*段落スタイル*/
#main p{
	margin-bottom:15px;
	line-height:1.7;
}

/*セクション間隔*/
.sec{
	margin-bottom:30px;
}

/*小見出し*/
.hdg{
	padding-left:20px;
	margin-bottom:15px;
	background:url(../img/bg_heading.gif) no-repeat;
	height:30px;
	line-height:30px;
}

/*注意書き
.note{
	padding:5px;
	background:#f2f2f2;
	font-size:83%;
}*/

/*アイコンリンク
.icon{
	text-align:right;
}

.icon a{
	padding-left:10px;
	background:url(../img/ico_arw02.gif) left center no-repeat;
}*/

/*問い合わせボタン
.contact-btn{
	text-align:center;
}*/

/*角丸枠*/
/*.r-box{
	padding-top:10px;
	background:url(../img/prts_r_st.gif) left top no-repeat;
}

.r-box .ed{
	padding-bottom:10px;
	background:url(../img/prts_r_ed.gif) left bottom no-repeat;
}

.r-box .bd{
	padding:10px 15px;
	background:url(../img/prts_r_bd.gif) repeat-y;
}*/



/*オーバーレイ処理*/
.overlay {
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	z-index: 1;
	background: url(../img/black.png);
}
.overlay img {
	display: inline-block;
	position: fixed;
	bottom:80%
	left:80%
	width: 300px;
		-webkit-box-shadow: 0px 0px 20px 0px #333;
		-moz-box-shadow: 0px 0px 20px 0px #333;
		box-shadow: 0px 0px 20px 0px #333;
}
#cursol {
	position: absolute;
	padding: 5px;
	color: #fff;
	background: #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 0px #333;
	-moz-box-shadow: 2px 2px 5px 0px #333;
	box-shadow: 2px 2px 5px 0px #333;
}
